//add to stylish branch


*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
}

#main{
	max-width:1280px;
	max-height:100%;
	margin:30px auto;
	padding:15px;
	background-color:#dddddd;
	border-radius:5px;
}

#title{
	text-align:center;

}

#main>p{
	text-align:center;
}
#img-div {
	max-width: 100%;
	margin:15 auto;
	padding:15px;
	background-color:#ffffff;
	
}

#image{
	display:flex;
	max-width:100%;
	padding-bottom:10px;
	
	
}
#img-caption{
	text-align: start;
	font-size: small;
}

#tribute-info{
	max-width:800px;
	margin:0 auto;
}

#tribute-info>h3{
	text-align:center;
}


#tribute-info>ul li{

	margin-bottom:10px;
	line-height:30px;
}

h5{
	text-align:center;
}